
ion-card-subtitle {

    text-align: end;
    padding-top: 10px;
}

div {
    text-align: start;
    padding-top: 10px;
    font-weight: bold;
}

ion-card-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

ion-card-content {
    text-align: center;
    font-family:Georgia;
    font-size: 15px;
}