
ion-title {
    text-align: center;
    font-weight: bold;
}

ion-text {
    font-size: 25px;
    text-align:center;
}

.boton {
    padding-bottom: 10px;
}
.ion-padding-top {
    padding-top: 20px;
}
.ion-padding-end {
    padding-left: 350px;
}
